@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');

:root{
    --not-white:#d6d6d6;
    --dark-green: #0E1A14;
    --ligth-green: #9ba379;
    --dark-brown: #7a4419;
    --ligth-brown: #dad693;
    --higlight-color: #e4572e;
    --soft-brown: #CBBDA8;
    --soft-green: rgba(151, 144, 92, 0.7);

    --military-font: 'Stardos Stencil';
}

html{
    font-size: 17px;
    background-color: black;
}

body{
    background-image: url("../../public/img/camoflagem3.jpg");
    background-position: 0 0 !important;
    background-repeat: repeat;
    background-attachment:scroll;
}

a{
    text-decoration: none;
    color: var(--dark-green);
}

.text-link{
    text-decoration: underline;
}

.text-link:hover{
    color: var(--ligth-brown);
}

.navbar{
    color: white !important;
    background-color: var(--dark-green) !important;
    font-family: var(--military-font), cursive;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
}

.navbar .nav-container{
    flex-wrap: nowrap;
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar .navbar-brand img{
    min-width: 60px !important;
}

.navbar .head-title{
    width: 100%;
    display: inline;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 1rem;
    align-items: center;
}

.navbar .head-title:hover{
    color: var(--ligth-brown) !important;
}

.navbar .nav-link{
    color: white !important;
    font-size: 1.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.navbar .nav-link.active{
    color: var(--ligth-brown) !important;
}

.navbar .nav-link:not(.active):hover{
    color: var(--ligth-brown) !important;
    font-weight: 700;
    text-decoration: underline;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 0.1rem !important;
}

video{
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    align-items: center;
    background: black;
    margin-top: 40px;
    padding: 10px 10px;
    font-size: 0.8rem;
}

.social-links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-links.text .left-links{
padding: 8px;
}

.copyright{
    color: rgb(121, 120, 120);
}

.footer-links-text{
    display: flex;
    align-items: center;
    color: #fff !important;
}

.footer-links-text .social-icons{
    background-color: white;
    padding: 3px;
    border-radius: 0.5rem;
    margin-right: 5px;
}

.footer-links-text:hover{
    text-decoration: underline;
}

.social-links.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.social-links.icons span{
    color: white;
}

.social-links.icons .social-icons{
    background-color: white;
    padding: 5px;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.social-links.icons  .facebook:hover{
    background-color: #1A93F8;
}

.social-links.icons  .instagram:hover{
    background-color: #DC23A0;
}

.page-section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: var(--military-font), cursive;
}

.page-section-title h1{
    border-bottom: 2px solid black;
    margin: 0 !important;
}

.atividades.row{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.atividades .card{
    background-color: rgba(150, 145, 95, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 97%;
}

.atividades .card-img-top{
    object-fit: cover;
    border-radius: 5px;
    text-align: center;
}

.atividades .card-body{
    margin-top: 5px;
}

.atividades .card-title{
    font-weight: 700;
}

.atividades .card-text{
    white-space: normal;
    border-color: none !important;
}

.atividades .card-body .btn.btn-primary{
    background-color: var(--dark-green);
    border: none;
    box-shadow: none;
    border: 2px solid var(--dark-green);
}

.atividades .card-body .btn.btn-primary:hover{
    background-color: var(--ligth-brown);
    color: black;
    border: 2px solid black;
    box-shadow: none;
}

.contactos.row{
    padding: 1rem;
    margin: 0.1rem;
    min-height: 400px;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgba(151, 144, 92, 0.8);
    border-radius: 1rem;
}

.contactos-text{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-top: 0.6rem;
    padding-bottom: 0rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 1rem;
}

.contactos-text .wrapper{
    margin-bottom: 1rem;
}

.contactos-text .tele-email{
    margin-bottom: rem;
}

.contactos-text .title{
    font-weight: 700;
}

.contactos-text .table > :not(caption) > * > * {
    padding: 0.5rem 0rem;
}

.contactos-text a:hover{
    color: var(--dark-green);
    text-decoration: underline;
}

.contactos.row iframe{
    height: 100%;
    min-height: 450px;
    border-radius: 0.5rem;
}

.row.photos{
    margin-bottom: 1rem;
}

.photo_options{
    margin-bottom: 2rem;
}

.photo_options button{
    padding: 0.4rem 1rem;
    margin: 5px;
    font-size: 1.2rem;
    font-family: var(--military-font), cursive;
}

.photo_options button:hover, .photo_options button.active{
    background-color: var(--dark-green);
    color: var(--not-white);
}

.photos .photo{
    padding-bottom: 1rem;
}

.photos .photo img{
    border-radius: 0px;
    box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.front.row{
    background-color: var(--soft-green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    font-family: var(--military-font), cursive;
    margin-bottom: 2rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.front.row .logo{
    display: flex;
    justify-content: center !important;
    padding: 1rem;
}

.front.row .logo img{
    width: auto;
    height: auto;
    max-height: 400px;
}

.front.row .text{
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
}

.front.row .text .title{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.front.row .text .body{
    display: flex;
    justify-content: center;
}

.front.row .text .body .wrapper{
    max-width: 700px;
}

.front.row .text .body .spacer{
    height: 1.5rem;
}

.front.row.two .logo img{
    object-fit: cover;
    border-radius: 5px;
}

.front.row.two .logo.when-small{
   display: none;
   text-align: center;
   max-height: 400px;
}



.precario-wrapper{
    background-color: var(--soft-green);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.precario-wrapper tbody tr th{
    font-weight: 400 !important;
}

td.icon img{
    width: 2.5rem;
    height: 2.5rem;
    background-color: none;
    padding: 5px;
    border-radius: 0.5rem;
    border: 2px solid none;
}

td.icon img:hover{
    border: 2px solid var(--dark-green);
}


@media (max-width: 1980px){

    .front.row.two .logo img{
        width: 100%;   
    }

}

@media (max-width: 1200px){

    .front.row .text{
        padding: 1.3rem;
        font-size: 1.1rem;
    }

    .front.row.two .logo.when-small{
        display: flex;
        width: 70%; 
    }

    .front.row.two .logo.when-large{
        display: none;
    }  
}

@media (max-width: 992px){
    .navbar-brand{
        display: flex;
        align-items: center;
    }

    .navbar-brand .head-title{
        display: flex;
        justify-content: center;
    }

    .navbar-nav{
        display: flex;
        align-items: center;
    }

    footer .social-links.text, .social-links.icons {
        justify-content: center;
    }

    .page-section-title{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .atividades.row{
        margin: 5px;
    }

    .photo_options button{
        font-size: 1.1rem;
    }

    .precario-wrapper{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .navbar .head-title{
        font-size: 1.4rem;
    }
    
    .navbar .nav-link{
        font-size: 1.4rem;
    }

    .navbar .navbar-toggler{
        padding: 0.2rem 0.5rem;
        font-size: 1.2rem;
    }

    .atividades.row{
        margin: 3px;
    }
}

@media (max-width: 576px){
    .navbar .head-title{
        font-size: 1.2rem !important;
    }
    
    .navbar .nav-link{
        font-size: 1.2rem !important;
    }

    .page-section-title{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .atividades.row{
        margin: 2px;
    }

    .photo_options button{
        font-size: 1rem;
    }

    .contactos.row{
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .contactos-text{
        font-size: 1rem;
    }
    
    .front.row .logo img{
        width: 100%;
    }

    .front.row.two .logo img{
        width: 100%;
    }

    .front.row .text{
        font-size: 1.15rem;
    }

    .front.row .text .title{
        font-size: 1.35rem;
    }

    .front.row.two .logo.when-small{
        width: 100%; 
    }

    .precario-wrapper{
        font-size: 1rem;
    }

    .oferta{
        width: 30% !important;
    }
}

